
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --cor1: #f8f0f0;
    --cor2: #111010;
    --cor3: #706c6c;
    --cor4: #922f45;
    --cor5: #3D181F;
}
main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 900px;
    background-color: var(--cor2);
}
.me {
    width: 30%;
    height: 900px;
    background-color: var(--cor4 );
}
.me2 {
    width: 70%;
    height: 900px;
    background-color: var(--cor3);
    display: flex;
    flex-direction: column;
}
nav {
    width: 100%;
    height: 70px;
    background-color: var(--cor2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--cor1);
}